<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola nunjucks</title>
</head>
<body>
  <h1>Inicia sesión</h1>
  {% if username %}
  <p>Holiwi {{ username }}, tu password es {{ password }} un poco corta la verdad bro. </p>
  {% else %}
  <p>Hola desconocido, dame tu nombre : {{ username }} y {{ password }} para registrarte. </p>
  {% endif %}

  <ul>
  {% for item in lista %}
    <li>{{ item }}</li>
  {% endfor %}
  
  </ul>
</body>
</html>