<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola nunjucks</title>
</head>
<body>
  {% if username %}
    <p>Hola {{ username }}!</p>
  {% else %}
    <p>No ingresaste el usuario</p>
  {% endif %}

  {% if password %}
    <p>Tu contraseña es {{ password }}</p>
  {% else %}
    <p>No ingresaste la contraseña</p>
  {% endif %}
</body>
</html>
