<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola nunjucks</title>
</head>
<body>
  <h1>Nunjucks</h1>
  {% if username %}
  <p>Hola {{ username }}</p>
  {% else %}
  <p>Tu quién ere?</p>
  {% endif %}

  <ul>
  {% for item in lista %}
    <li>{{ item }}</li>
  {% endfor %}
  
  </ul>
</body>
</html>